<section class="todoapp">
  <section class="options">
    <input type="button" [disabled]="!undoable()" (click)="undo()" value="Annuler"/>
    <input type="button" [disabled]="!redoable()" (click)="redo()" value="Refaire"/>
    <input type="button" [disabled]="isEmpty()" (click)="removeAll()" value="Effacer tout"/>
    <input type="button" (click)="recordSpeech()" value="Ajouter par reconnaissance vocale"/>
  </section>
  <header class="header">
    <h1>{{label}}</h1>
    <form (submit)="appendItem(newTodoInput.value); newTodoInput.value = ''">
      <input #newTodoInput
             name="newTodoInput"
             class="new-todo"
             placeholder="Que faire?"
             autofocus/>
    </form>
  </header>
  <section class="main">
    <input class="toggle-all"
           type="checkbox"
           name="toggleAll"
           [ngModel]="isAllDone()"
           (ngModelChange)="toggleAllDone()"
    />
    <ul class="todo-list">
      <li *ngFor="let item of items"
          [class.completed]="item.isDone"
          [class.editing]="itemCompo.editionMode">
        <app-todo-item #itemCompo [data]="item"></app-todo-item>
      </li>
    </ul>
  </section>
  <footer class="footer">
    <span
      class="todo-count"><strong>{{"" + numberLeft() + (numberLeft() == 1 ? ' restante' : ' restantes')}}</strong></span>
    <ul class="filters">
      <li>
        <a class="filterAll" (click)="filter = 'all'">Tous</a>
      </li>
      <li>
        <a class="filterActives" (click)="filter = 'undone'">Actifs</a>
      </li>
      <li>
        <a class="filterCompleted" (click)="filter = 'done'">Complétés</a>
      </li>
    </ul>
    <button class="clear-completed" (click)="removeDone()">Supprimer cochées</button>
  </footer>
</section>
